<div class="container-fluid">
  <div class="row my-5 offset-sm-2">
    <h3 class="px-4" style="background-color:#e9ecef;">商品新規</h3>  
  </div>
  <%= form_with model: @item,url: admin_items_path,method: :post do |f| %>