<div class="container-fluid">
  <div class="row my-3 offset-2">
    <h3 class="px-4" style="background-color:#e9ecef;"><%= @customer.full_name %>さんの会員情報編集</h3>
  </div>
  <div class="row">
    <table class="table">
       <tr>
         <td></td>
       </tr>
    </table>
  </div>
</div>