<div class="container-fluid">
  <div class="row my-3 offset-sm-2">
    <h3 class="px-4" style="background-color:#e9ecef;">注文履歴一覧</h3>
  </div>
  <div class="row offset-sm-2">
    <table class="table">
       <thead>
         <th>
           <td>購入日時</td>
           <td>購入者</td>
           <td>注文個数</td>
           <td>注文ステータス</td>
         </th>
       </thead>
       <tbody>
         <% @orders.each do |order| %>
         <tr>
           <td><%= order.created_at %></td>
           <td><%= order.customer.id_name %></td>
           <td><%= order</td>
           <td></td>
         </tr>
       </tbody>
    </table>
  </div>
</div>