<div class="container-fluid">
    <div class="row my-4 offset-sm-1 justify-content-between">
        <h3 class="px-2" align="center" style="background-color:#e9ecef;">注文情報入力</h3>    
    </div>
    <div class="row offset-sm-1">
        <h3 class="font-weight-bold">支払方法</h3>
    </div>
    <div class="row offset-sm-1">
        
    </div>
    <div class="row offset-sm-1">
        <h3 class="font-weight-bold">お届け先</h3>
    </div>
    <div class="row">
        
    </div>
</div>